.modal-heading{
    display: grid;
    padding-bottom: 25px;
    justify-content: center;
  }
.modal-headerText{
    color:#252626;
    text-align:center;
    display:flex;
    align-items:center;
    font-size: 2rem !important;
    font-weight: bold;
}
.btn-stakeEther{
    width: 100%;
    background-color: rgba(25, 118, 210, 0.04);
    color: white;
    border-radius: 9px;
}